html {
    background-color: coral;
}

h1,
h2 {
    text-align: center;
    margin: 35px;
}

#cardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    height: 330px;
    width: 600px;
    padding: 5px;
    border: solid 3px blue;
    margin: auto;
}

.cardImage {
    width: 150px;
    height: 100px;
    border: black solid 2px;
    margin: 20px;
}